<div class="footer-navigation">
  <a href="professional.html"><i class="fa fa-briefcase"></i></a></li>
  <a href="education.html"><i class="fa fa-graduation-cap"></i></a></li>
  <a href="portfolio.html"><i class="fa fa-folder-open"></i></a></li>
  <a href="contact.html"><i class="fa fa-envelope"></i></a></li>
</div>
