---
title: About | Lucas Porter-Bakker
---

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<nav class="slidemenu">

  <!-- About -->
  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked />
  <label for="slide-item-1"><p class="icon"><a href="about.html"><i class="fas fa-id-card"></i></p><span>About</span></label></a>

  <!-- Education -->
  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" />
  <label for="slide-item-1"><p class="icon"><a href="education.html"><i class="fa fa-graduation-cap"></i></p><span>Education</span></label></a>

  <!-- Experience -->
  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" />
  <label for="slide-item-1"><p class="icon"><a href="professional.html"><i class="fa fa-briefcase"></i></p><span>Experience</span></label></a>

  <!-- Portfolio -->
  <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" />
  <label for="slide-item-1"><p class="icon"><a href="portfolio.html"><i class="fa fa-folder-open"></i></p><span>Portfolio</span></label></a>


  <div class="clear"></div>

  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>

</nav>

<section id=portfolio-timeline>

  <div class="bio-blurb">
    <img src="images/profile-logo.png" class="avatar-large"/>
    <h1>Lucas Porter-Bakker</h1>

    <h6>
      I am a 5x founder and entrepreneur; designer; full-stack developer and software engineer; teacher, mentor, and perpetual student. Otherwise, I am travelling and over-eating, sports sports sports, with family and friends, cooking, working at my photography and film making hobby, and all-things music.
    </h6>


    <!-- <h5>Features:</h5> -->

  </div>

  <!-- <div id="logo-bar"> -->
    <!-- <img src="images/technode-logo.png" alt=""> -->
    <!-- <img id="tc" src="images/techcrunch-logo1.png" alt=""> -->
    <!-- <img src="images/geektime-logo.png" alt=""> -->
    <!-- <img id="the-paper" src="images/the-paper.png" alt=""> -->
    <!-- <img src="images/technode-logo-cn.png" alt=""> -->
    <!-- <img id="app-idea-awards" src="images/app-idea-awards.png" alt=""> -->
    <!-- <img id="thats-china-logo" src="images/thats-china-logo.png" alt=""> -->
    <!-- <img src="images/cp-logo.png" alt=""> -->
    <!-- <img src="images/lewagon-logo.png" alt=""> -->
    <!-- <img id="global-times" src="images/global-times.png" alt=""> -->
    <!-- <img src="images/lens-culture.png" alt="">
    <img src="images/discovery-logo.png" alt=""> -->
    <!-- <img src="images/away-logo.png" alt=""> -->

  <!-- </div> -->

<br>
<br>

  <!-- <div class="logo-container">
    <ul style="list-style-type:none;">
      <a href="https://technode.com/2018/06/14/techcrunch-hangzhou-le-wagon/" target ="_blank"><li><img src="images/technode-logo.png" alt=""></li></a>
      <a href="https://mp.weixin.qq.com/s/HeTC8Mrgq-DFohKR5mW1YA" target ="_blank"><li><img id="tc" src="images/techcrunch-logo1.png" alt=""></li></a>
      <li><img src="images/discovery-logo.png" alt=""></li>
      <li><img src="images/nikkei.png" alt=""></li>
      <a href="https://www.geektime.com/2017/01/01/5-startups-that-show-hangzhou-is-about-more-than-alibaba/" target ="_blank"><li><img id="height-shrink" src="images/geektime-logo.png" alt=""></li></a>
      <li><img id="lc" src="images/lens-culture.png" alt=""></li>
      <a href="https://www.thepaper.cn/newsDetail_forward_1519791" target ="_blank"><li><img id="paper" src="images/the-paper.png" alt=""></li></a>
      <a href="https://mp.weixin.qq.com/s/TUECX3ryqhHVAW_JQE799Q" target ="_blank"><li><img id="height-shrink" src="images/lewagon-logo.png" alt=""></li></a>
    </ul>
  </div> -->

  <div class="logo-container">
    <div class="row">

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537268781/GOJI_NIKKEI.png);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
          </div>
          <div class="logo-card-footer">
            <img src="images/nikkei-review.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537266441/IMG_9100.jpg);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
            <a class="logo-card-link" href="https://mp.weixin.qq.com/s/HeTC8Mrgq-DFohKR5mW1YA" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img id="tc" src="images/techcrunch-logo1.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537265943/IMG_9080.jpg);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
            <a class="logo-card-link" href="https://technode.com/2018/06/14/techcrunch-hangzhou-le-wagon/" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img src="images/technode-logo-2.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537262956/IMG_0045.jpg);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
            <a class="logo-card-link" href="https://wx.plusx.cn/activity/live/3461443?uniqCode=vQJiXKuRxb&activityNo=3461443" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img src="images/slush-china.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537265797/IMG_7089.jpg);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
            <a class="logo-card-link" href="https://mp.weixin.qq.com/s/TUECX3ryqhHVAW_JQE799Q" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img src="images/lewagonnologo.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537266948/IMG_0176.jpg);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
          </div>
          <div class="logo-card-footer">
            <img src="images/angelhack.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537264925/Screen_Shot_2018-09-18_at_5.51.10_PM.png);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
            <a class="logo-card-link" href="https://www.westgrouphangzhou.com/blog/westgroup-thats-china" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img src="images/thats-china.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/donw16xff/image/upload/v1537265579/IMG_8221.jpg);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>
            <!-- <i class="fas fa-external-link-alt logo-card-user"></i> -->
            <a class="logo-card-link" href="https://www.thepaper.cn/newsDetail_forward_1519791" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img src="images/thepaper.png" alt="">
          </div>
        </div>
      </div>

      <!-- <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(images/default-black.png);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>

            <a class="logo-card-link" href="https://www.geektime.com/2017/01/01/5-startups-that-show-hangzhou-is-about-more-than-alibaba/" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img src="images/geektime-logo.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(images/default-black.png);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>

          </div>
          <div class="logo-card-footer">
            <img src="images/lens-culture.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(images/default-black.png);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>

          </div>
          <div class="logo-card-footer">
            <img src="images/app-idea-awards.png" alt="">
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="logo-card-container">
          <div class="logo-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(images/default-black.png);">
            <div class="logo-card-category">
            </div>
            <div class="logo-card-description">
              <h2></h2>
              <p></p>
            </div>

            <a class="logo-card-link" href="http://discovery.cathaypacific.com/hangzhou-a-city-made-for-entrepreneurs/" target ="_blank"></a>
          </div>
          <div class="logo-card-footer">
            <img src="images/discovery-logo.png" alt="">
          </div>
        </div>
      </div> -->

    </div>
  </div>

</section>




<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="portfolio.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="home.html"><i class="fa fa-home"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="education.html"><i class="fa fa-arrow-right"></i></a></p><span></span></label>



  <div class="clear"></div>

</nav>

<nav class="social-footer-slidemenu">
  <p class="portfolio-leader"></p>

  <!-- Contact -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fab fa-github"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="http://res.cloudinary.com/donw16xff/image/upload/c_scale,h_500/v1531714857/IMG_9257.jpg" target ="_blank"><i class="fab fa-weixin"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://www.linkedin.com/in/lucasporterbakker" target ="_blank"><i class="fab fa-linkedin-in"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://www.instagram.com/porterbakker" target ="_blank"><i class="fab fa-instagram"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://angel.co/lucasporterbakker" target ="_blank"><i class="fab fa-angellist"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="mailto:www.lucas.porter.bakker@gmail.com" target ="_blank"><i class="fa fa-envelope"></i></a></p><span></span></label>

  <p class="about-footer">This site was made by <a href="index.html"><strong>Lucas Porter-Bakker</strong></a>, using: JavaScript, HTML, SASS (SCSS), and Embedded Ruby.</p>

  <a href="https://www.f6s.com/lucasporterbakker?follow=1" target="_blank" title="Follow Lucas Porter-Bakker on F6S"><img src="https://www.f6s.com/images/f6s-follow-white.png" border="0" width="78" height="22 " alt="Follow Lucas Porter-Bakker on F6S" style="width: 78px; height: 22px; padding: 0px; margin: 0px;" /></a>

  <div class="clear"></div>

</nav>
