---
title: Education | Lucas Porter-Bakker
---

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<nav class="slidemenu">

  <!-- About -->
  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle"/>
  <label for="slide-item-2"><p class="icon"><a href="about.html"><i class="fas fa-id-card"></i></p><span>About</span></label></a>

  <!-- Education -->
  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" checked />
  <label for="slide-item-2"><p class="icon"><a href="education.html"><i class="fa fa-graduation-cap"></i></p><span>Education</span></label></a>

  <!-- Experience -->
  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" />
  <label for="slide-item-2"><p class="icon"><a href="professional.html"><i class="fa fa-briefcase"></i></p><span>Experience</span></label></a>

  <!-- Portfolio -->
  <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" />
  <label for="slide-item-2"><p class="icon"><a href="portfolio.html"><i class="fa fa-folder-open"></i></p><span>Portfolio</span></label></a>

  <div class="clear"></div>

  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>

</nav>

<section id=education-timeline>
	<h1>Education</h1>
	<p class="education-leader">M.Sc. / M.A. / LL.M. / B.A.</p>
	<div class="demo-card-wrapper">

    <div class="demo-card demo-card--step1">
      <div class="head">
        <div class="number-box">
          <span>Lean Venture Partners</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="body">
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_scale,h_500/v1531493740/Screen_Shot_2018-07-13_at_10.54.50_PM.png" alt="Graphic">
        <p>LVP x CA: Batch 1 (Shanghai, China) • Lean methodology, market fit, rapid iteration, MVPs, user acquisition, traction-building, growth-hacking, product, management, strategic positioning, branding, financial modelling, accounting, and fundraising; 0.5% acceptance rate.</p>
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>Fullstack Developer</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="body">
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525617537/Screen_Shot_2018-05-06_at_10.26.37_PM.png" alt="Graphic">
        <p>Le Wagon: Batch 130 (Shanghai, China) • Backend software engineering using MVC; Object-oriented programming; Ruby; Frontend web development using JAMstack (JavaScript, APIs, Markup); SASS; Rails; and UI / UX design.</p>
      </div>
    </div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>Master of Science (M.Sc.)</span>
				</div>
				<h2><span class="small"></span>'13</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525617533/Screen_Shot_2018-05-06_at_10.35.21_PM.png" alt="Graphic">
				<p>Aix-Marseille Université (Aix-en-Provence, France) • Master d'Analyse Economique du Droit et des Institutions (Business Law and Economics); Master II; 3.9 GPA; Summa Cum Laude.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>Master of Arts (M.A.)</span>
					<br>
				</div>
				<h2><span class="small"></span>'13</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525617534/Screen_Shot_2018-05-06_at_10.36.24_PM.png" alt="Graphic">
				<p>Universiteit Gent (Gent, Belgium) • Economics (Behavioural Economics; Macroeconomics; Microeconomics); Magna Cum Laude. </p>
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>Master of Laws (LL.M.)</span>
				</div>
				<h2><span class="small"></span>'12</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525617533/Screen_Shot_2018-05-06_at_10.37.19_PM.png" alt="Graphic">
				<p>Erasmus Universiteit Rotterdam: School of Law (Rotterdam, Netherlands) • Law (Competition Law; Tort Law; Contract Law; Environmental Law; Property Law; Corporate Law).</p>
			</div>
		</div>

    <div class="demo-card demo-card--step6">
      <div class="head">
        <div class="number-box">
          <span>Bachelor of Arts (B.A.)</span>
        </div>
        <h2><span class="small"></span>'08 - '11</h2>
      </div>
      <div class="body">
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525617535/Screen_Shot_2018-05-06_at_10.27.44_PM.png" alt="Graphic">
        <p>Concordia University (Montreal, Canada) • Double bachelor's degree, majoring in Political Science and minoring in Foreign Languages.</p>
      </div>
    </div>

		<div class="demo-card demo-card--step7">
			<div class="head">
				<div class="number-box">
					<span>Bachelor of Arts (Minor)</span>
				</div>
				<h2><span class="small"></span>'08</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525617535/Screen_Shot_2018-05-06_at_10.31.39_PM.png" alt="Graphic">
				<p>Beijing Foreign Studies University (Beijing, China) • Chinese Language (Mandarin) and Culture; President of the Student Council; Summa Cum Laude.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step8">
			<div class="head">
				<div class="number-box">
					<span>Foundation Year</span>
				</div>
				<h2><span class="small"></span>'06 - '07</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525617534/Screen_Shot_2018-05-06_at_10.30.55_PM.png" alt="Graphic">
				<p>University of King's College (Nova Scotia, Canada) • Canada's most prestigious humanities program; moves forward chronologically from the ancient to the contemporary world.</p>
			</div>
		</div>

    <div class="demo-card demo-card--step9">
      <div class="head">
        <div class="number-box">
          <span>Chinese Proficiency</span>
        </div>
        <h2><span class="small"></span></h2>
      </div>
      <div class="body">
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_scale,h_500/v1531494711/Screen_Shot_2018-07-13_at_11.10.36_PM.png" alt="Graphic">
        <p>Peking University (Beijing, China) • Chinese (Mandarin) proficiency examination.</p>
      </div>
    </div>

    <div class="demo-card demo-card--step10">
      <div class="head">
        <div class="number-box">
          <span>Mundus Scholar</span>
        </div>
        <h2><span class="small"></span></h2>
      </div>
      <div class="body">
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525618293/Screen_Shot_2018-05-06_at_10.51.05_PM.png" alt="Graphic">
        <p>Universität Hamburg (Hamburg, Germany) • Masters Thesis: The Political Economy of Investment Law: The Canada-China Foreign Investment Protection Agreement.</p>
      </div>
    </div>

	</div>
</section>

<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="about.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="home.html"><i class="fa fa-home"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-arrow-right"></i></a></p><span></span></label>

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/> -->
  <!-- <label for="slide-item-3"><p class="icon"><a href="https://westgrouphangzhou.com/" target ="_blank"><i class="fa fa-laptop"></i></a></p><span></span></label> -->


  <div class="clear"></div>

</nav>

<!-- ALTERNATE FOOTER -->

<!-- <nav class="footer-slidemenu"> -->

  <!-- Contact -->
  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-github"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-wechat"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-instagram"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://www.linkedin.com/in/lucasporterbakker" target ="_blank"><i class="fa fa-linkedin"></i></a></p><span></span></label> -->

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://angel.co/lucasporterbakker" target ="_blank"><i class="fa fa-angellist"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="mailto:www.lucas.porter.bakker@gmail.com" target ="_blank"><i class="fa fa-envelope"></i></a></p><span></span></label> -->

  <!-- Home -->
  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><i class="fa fa-home"> </i></p><span>Home</span></label> -->

    <!-- <li><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-github"></i></a></li> -->
    <!-- <li><a href="https://www.linkedin.com/in/lucasporterbakker" target ="_blank"><i class="fa fa-linkedin"></i></a></li> -->
    <!-- <li><a href="portfolio.html"><i class="fa fa-wechat"></i></a></li> -->
    <!-- <li><a href="contact.html"><i class="fa fa-instagram"></i></a></li> -->
    <!-- <li><a href="https://angel.co/lucasporterbakker" target ="_blank"><i class="fa fa-angellist"></i></a></li> -->
    <!-- <li><a href="contact.html"><i class="fa fa-twitter"></i></a></li> -->
    <!-- <li><a href="mailto:www.lucas.porter.bakker@gmail.com"><i class="fa fa-envelope"></i></a></li> -->

  <!-- <div class="clear"></div> -->

<!-- </nav> -->

<!-- <div class="footer-navigation">
  <a href="professional.html"> <i class="fa fa-briefcase"> </i> | </a>
  <a href="education.html"> <i class="fa fa-graduation-cap"> </i> | </a>
  <a href="portfolio.html"> <i class="fa fa-folder-open"> </i> | </a>
  <a href="contact.html"> <i class="fa fa-envelope"> </i> | </a>
	<a href="index.html"><i class="fa fa-home"> </i> </a>
</div> -->
