---
title: GOJI | Lucas Porter-Bakker
---


<section id=portfolio-timeline>
  <h1>GOJI</h1>
  <p class="portfolio-leader">Founder and CEO // CTO</p>

  <div class="goji-blurb">

    <more-h6>
      GOJI is an online ESL marketplace and learning service provider; connecting language students from all over the world to native English-speaking tutors. The mobile platform currently has over 20,000 tutors and students from more than 150 countries.
    </more-h6>

  </div>

</section>

<section id=goji-cards>
  <div class="goji-wrapper">

    <div class="flex">
      <div class="card">
        <div class="header">
          <div class="title">
            <div>
              <h1>"5 startups showing Hangzhou is about more than Alibaba."</h1>
              <h6><span>by</span> Reback, Gedalyah. Geektime: Entrepreneurship, (2016).</h6>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="articlemeta">
            <ul class="left">
              <li><i class="material-icons">&#xE15E;</i></li>
              <li><i class="material-icons">&#xE87D;</i></li>
            </ul>
            <ul class="right">
              <li><i class="material-icons">&#xE80D;</i></li>
            </ul>
          </div>
          <div class="closebar">
            <h1>GeekTime</h1>
            <a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
          </div>

          <p>#1 - GOJI: The Uber of English language learning (ESL), GOJI uses a social media-model to match Chinese students to native English speakers, usually expatriates, living in China.
            <br>
            <br>
            <img src="http://res.cloudinary.com/donw16xff/image/upload/v1526883072/Screen_Shot_2018-05-21_at_2.10.38_PM.png">
            <br>
            <br>
            The service has expanded to open an office in Toronto as well as having added options for Russian and French speakers.
          <br>
          </p>
          <p>
            <br>
            GOJI connects ESL students all over the world to native English-speaking tutors:
            www.gojinet.com
            <br>
          </p>
          <img src="http://res.cloudinary.com/donw16xff/image/upload/v1526801283/IMG_0407.png">
          <br>
          <a href="http://tinyurl.com/thats-china-westgroup"  target ="_blank" class="bttn">Read Full Article</a>
          <a href="#0" class="readmore"></a>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="card">
        <div class="header">
          <div class="title">
            <div>
              <h1>"Hangzhou: a city made for Entrepreneurs".</h1>
              <h6><span>by</span> Lin, Letitia. Cathay Pacific: Discovery, (2017).</h6>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="articlemeta">
            <ul class="left">
              <li><i class="material-icons">&#xE15E;</i></li>
              <li><i class="material-icons">&#xE87D;</i></li>
            </ul>
            <ul class="right">
              <li><i class="material-icons">&#xE80D;</i></li>
            </ul>
          </div>
          <div class="closebar">
            <h1>Cathay Pacific</h1>
            <a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
          </div>
          <p>GOJI is attempting to revolutionise the business of English language exchange, using an app to connect Chinese customers with native English speakers across the globe.
            <br>
            <br>
            <img src="http://res.cloudinary.com/donw16xff/image/upload/v1526883113/Screen_Shot_2018-05-21_at_2.07.02_PM.png">
            <br>
            <br>
            Users can earn money by conversing with language learners via the app.</p>
          <p>
            <br>
            During the interview, several representatives of the Shanghai Chamber of Commerce in Canada have repeatedly referred to a Canadian company involved in the G20 preparatory work. More specifically, Westgroup, is a company created by eight young Canadians in Hangzhou. Its executive president, Lucas Porter-Bakker, told the surging news that over the past six months, the company has been working closely with government agencies such as Hangzhou Municipal Government, and Hangzhou Tourism Bureau, among others, engaging in foreign language and cultural training to prepare for the upcoming G20 summit.
            <br>
            Xue, Yong Le. G20专访｜上海加拿大商会会长：峰会或能助推中加FTA, Surging News: International Business, Shanghai, 2016; Edited by Li Yiqing.
            <br>
          </p>
          <!-- <img src="http://res.cloudinary.com/donw16xff/image/upload/v1526801283/IMG_0407.png"> -->
          <br>
          <a href="http://discovery.cathaypacific.com/hangzhou-a-city-made-for-entrepreneurs/"  target ="_blank" class="bttn">Read Full Article</a>
          <a href="#0" class="readmore"></a>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="card">
        <div class="header">
          <div class="title">
            <div>
              <h1>Westgroup: from the Foreign Affairs Office to Starbucks.</h1>
              <h6><span>by</span> Cotrell, Chris. Hangzhou at a Glance: Entrepreneurs, Commercial Press, (2016).</h6>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="articlemeta">
            <ul class="left">
              <li><i class="material-icons">&#xE15E;</i></li>
              <li><i class="material-icons">&#xE87D;</i></li>
            </ul>
            <ul class="right">
              <li><i class="material-icons">&#xE80D;</i></li>
            </ul>
          </div>
          <div class="closebar">
            <h1>Beijing Commercial Press</h1>
            <a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
          </div>
          <p>Westgroup wins National Public Bid for Xiaoshan Airport.</p>
          <img src="http://res.cloudinary.com/donw16xff/image/upload/v1526814631/Screen_Shot_2018-05-20_at_7.08.49_PM.png">
          <p>
            <br>
            [...] Impressively, since their establishment a couple of short years ago, Westgroup has gone from being a newly licensed entity to having taught thousands of students; making them the largest privately-held Canadian [...]
            <br>
          </p>
          <img src="http://res.cloudinary.com/donw16xff/image/upload/v1526814617/Screen_Shot_2018-05-20_at_7.08.38_PM.png">
          <a href="http://tinyurl.com/thats-china-westgroup"  target ="_blank" class="bttn">Read Full Article</a>
          <a href="#0" class="readmore"></a>
        </div>
      </div>
    </div>

  </div>
</section>

<script type="text/javascript">

$('.readmore').click(function() {
  $('.content').toggleClass('full');
  $('.header').toggleClass('collapse');
  $('.readmore').toggle();
});
$('.closebttn').click(function() {
  $('.content').removeClass('full');
  $('.header').removeClass('collapse');
  $('.readmore').toggle();
});

</script>


<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://gojinet.com/" target ="_blank"><i class="fa fa-globe"></i></a></p><span></span></label>


  <div class="clear"></div>

</nav>
