---
title: Lucas Porter-Bakker
---


<a href="about.html">
  <div class="scene">
    <div class="wing-left"></div>
    <div class="wing-right"></div>
    <div class="exhaust"></div>
    <div class="capsule">
      <div class="top">
        <div class="shadow"></div>
      </div>
      <div class="base"></div>
    </div>
    <div class="window-big"></div>
    <div class="window-small"><img class="avatar" src="http://res.cloudinary.com/donw16xff/image/upload/v1531704905/WechatIMG1.jpg" alt=""> </div>
    <div class="fire-1"></div>
    <div class="fire-2"></div>
    <div class="fire-3"></div>
    <div class="fire-4"></div>
    <div class="spark-1"></div>
    <div class="spark-2"></div>
    <div class="spark-3"></div>
    <div class="spark-4"></div>
    <div class="star star--1"></div>
    <div class="star star--2"></div>
    <div class="star star--3"></div>
    <div class="star star--4"></div>
    <div class="star star--5"></div>
    <div class="star star--6"></div>
    <div class="star star--7"></div>
    <div class="star star--8"></div>
    <div class="star star--9"></div>
    <div class="star star--10"></div>
    <div class="star star--11"></div>
    <div class="star star--12"></div>
    <div class="star star--13"></div>
    <div class="star star--14"></div>
    <div class="star star--15"></div>
    <div class="star star--16"></div>
  </div>
</a>

  <!-- <nav class="footer-slidemenu">

    <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
    <label for="slide-item-3"><p class="icon"><a href="portfolio.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>
    <label for="slide-item-3"><p class="icon"><a href="index.html"><i class="fa fa-home"></i></a></p><span></span></label>
    <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-arrow-right"></i></a></p><span></span></label>

    <div class="clear"></div>
  </nav> -->


<br>

  <!-- <p class="rocket-text">This site was made by <strong>Lucas Porter-Bakker</strong>, using: JavaScript, HTML, SASS (SCSS), and Embedded Ruby.</p> -->
