---
title: Photography | Lucas Porter-Bakker
---

<section id=portfolio-timeline>
	<h1>Award-winning Photographer</h1>
	<p class="portfolio-leader">Freelance photography projects in over 50 countries since 2007.</p>

  <div class="skills">

  <h5>Regions:</h5>

  <h6>North Africa</h6>
  <h6>The Balkans</h6>
  <h6>Asia-Pacific</h6>
  <h6>Southern Asia</h6>

  <h6>South-Eastern Asia</h6>
  <h6>North America</h6>
  <h6>Eastern & Western Europe</h6>
  <h6>Latin America</h6>

  </div>

</section>

<section id=portfolio-timeline>
  <div class="skills">
	   <h5>Gallery</h5>
  </div>
</section>


<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/> -->
  <!-- <label for="slide-item-3"><p class="icon"><a href="https://lucasporterbakker.com/" target ="_blank"><i class="fa fa-laptop"></i></a></p><span></span></label> -->

  <div class="clear"></div>

</nav>
