---
title: Stack & Portfolio | Lucas Porter-Bakker
---

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<nav class="slidemenu">

  <!-- About -->
  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle"/>
  <label for="slide-item-4"><p class="icon"><a href="about.html"><i class="fas fa-id-card"></i></p><span>About</span></label></a>

  <!-- Education -->
  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" />
  <label for="slide-item-4"><p class="icon"><a href="education.html"><i class="fa fa-graduation-cap"></i></p><span>Education</span></label></a>

  <!-- Experience -->
  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" />
  <label for="slide-item-4"><p class="icon"><a href="professional.html"><i class="fa fa-briefcase"></i></p><span>Experience</span></label></a>

  <!-- Portfolio -->
  <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" checked />
  <label for="slide-item-4"><p class="icon"><a href="portfolio.html"><i class="fa fa-folder-open"></i></p><span>Portfolio</span></label></a>


  <div class="clear"></div>

  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>

</nav>


<section id=portfolio-timeline>
  <h1>Portfolio</h1>
  <p class="portfolio-leader"></p>
  <div class="demo-card-wrapper">
    <div class="demo-card demo-card--step1">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>SignHow</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="portfolio-body">
        <p>LEAD DEVELOPER • WEB APP built on Rails; a crowd-sourced visual dictionary for sign-language: MP4-GIF converter, paywall, upvoting-downvoting, liking, favouriting, admin dashboard, OMNIauth, ActiveRecord, and multiple-term search through join associations.</p>
        <a href="https://www.signhow.co" target ="_blank"><img src="http://res.cloudinary.com/donw16xff/image/upload/v1526809295/Screen_Shot_2018-05-20_at_5.38.49_PM.png" alt="Graphic"></a>
      </div>
    </div>

    <div class="demo-card demo-card--step2">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>Wokout</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="portfolio-body">
        <p>BACKEND PROGRAMMER • WEB APP built on Rails; MVP for booking a homecoocked culniary experience, with chefs who love to cook: Making reservations, receiving bookings, multi-search functionality, user dashboard, admin dashboard, posting meals, and updating listings. </p>
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525661607/Screen_Shot_2018-05-07_at_10.49.12_AM.png" alt="Graphic">
      </div>
    </div>

    <div class="demo-card demo-card--step3">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>Imbible</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="portfolio-body">
        <p>FRONTEND DEVELOPER • WEB APP; MVP for a cocktail cookbook: Making user accounts, user-account CRUD, search functionality, image gallery uploading, saving recipies, dev-ops, Heroku deployment; using Ruby, ERB, JavaScript, HTML, and SCSS. </p>
        <!-- <a href="https://still-mountain-73113.herokuapp.com/" target ="_blank"></a> -->
        <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525746958/Screen_Shot_2018-05-08_at_10.35.23_AM.png" alt="Graphic">
      </div>
    </div>

    <div class="demo-card demo-card--step4">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>Photography</span>
        </div>
        <h2><span class="small"></span>'17</h2>
      </div>
      <div class="portfolio-body">
        <p>WEB DESIGNER • Website; image galleries and blog: dev-ops, user-interface (UI) and user-experience (UX) design, branding, and image content. </p>
        <a href="https://lucasporterbakker.me/" target ="_blank"><img src="http://res.cloudinary.com/donw16xff/image/upload/v1532187052/Screen_Shot_2018-07-21_at_11.30.26_PM.png" alt="Graphic"></a>
      </div>
    </div>

    <div class="demo-card demo-card--step5">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>GOJI</span>
        </div>
        <h2><span class="small"></span>'16</h2>
      </div>
      <div class="portfolio-body">
        <p>WEB DESIGNER & DEVELOPER • Website; multi-lingual site with separate student and tutor portals: dev-ops, user-interface and user-experience design, mailing, resources portal for tutors and students, blog, featured tutors menu with top-rated accounts, video content. </p>
        <a href="http://www.gojinet.com" target ="_blank"><img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525745402/Screen_Shot_2018-05-08_at_10.08.32_AM.png" alt="Graphic"></a>
      </div>
    </div>

    <div class="demo-card demo-card--step6">
      <div class="portfolio-head">
        <div class="portfolio-number-box">
          <span>Westgroup</span>
        </div>
        <h2><span class="small"></span>'15</h2>
      </div>
      <div class="portfolio-body">
        <p>WEB DESIGNER • Website; multi-lingual site with blog: dev-ops, user-interface (UI) and user-experience (UX) design, branding, and video content. </p>
        <a href="https://www.westgrouphangzhou.com/" target ="_blank"><img src="http://res.cloudinary.com/donw16xff/image/upload/v1532186442/Screen_Shot_2018-07-21_at_11.16.33_PM.png" alt="Graphic"></a>
      </div>
    </div>

  </div>

  <br>

  <h1>Stack</h1>
  <p class="portfolio-leader">Fullstack Web Developer and Software Engineer.</p>
  <div class="skills">

  <h5>Frontend:</h5>

  <h6>JAMstack (JavaScript, APIs, Markup);</h6>
  <h6>SCSS (SASS), HTML, and Bootstrap;</h6>
  <h6>CSS library coding with Flexbox and Grid;</h6>
  <h6>JS (ES6), jQuery, JSON, Parsing, and AJAX;</h6>

  <br>

  <h5>Backend:</h5>

  <h6>OOP (Object Oriented Programming)</h6>
  <h6>Software engineering with MVC;</h6>
  <h6>Relational Database Design & queries with SQL and Postgresql;</h6>
  <h6>Ruby;</h6>

  <br>

  <h5>Development:</h5>

  <h6>TDD (Test Driven Development);</h6>
  <h6>WeChat framework (mini-apps) using WXML;</h6>
  <h6>Rails;</h6>

  <br>

  <h5>Collaboration, Management, and Deployment:</h5>

  <h6>Trello, SCRUM, Agile, Slack, Zapier;</h6>
  <h6>Heroku, Middleman, Stripe, Netlify, MailChimp, WeChat, analytics, and Twilio;</h6>
  <h6>Git and Github;</h6>

  <br>

  <h5>Design:</h5>

  <h6>Adobe Creative Cloud(Illustrator, PS, InDesign);</h6>
  <h6>Graphic;</h6>

  <br>

  <h5>UI / UX:</h5>

  <h6>Wireframes, mockups, and prototypes;</h6>
  <h6>InVision;</h6>
  <h6>Figma, Sketch, and Principle;</h6>

  </div>

</section>

<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="home.html"><i class="fa fa-home"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="about.html"><i class="fa fa-arrow-right"></i></a></p><span></span></label>

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/> -->
  <!-- <label for="slide-item-3"><p class="icon"><a href="https://westgrouphangzhou.com/" target ="_blank"><i class="fa fa-laptop"></i></a></p><span></span></label> -->


  <div class="clear"></div>

</nav>

<!-- <nav class="footer-slidemenu"> -->

  <!-- Contact -->
  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-github"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-wechat"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-instagram"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://www.linkedin.com/in/lucasporterbakker" target ="_blank"><i class="fa fa-linkedin"></i></a></p><span></span></label> -->

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/> -->
  <!-- <label for="slide-item-3"><p class="icon"><i class="fa fa-twitter"></i></p><span></span></label> -->

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://angel.co/lucasporterbakker" target ="_blank"><i class="fa fa-angellist"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="mailto:www.lucas.porter.bakker@gmail.com" target ="_blank"><i class="fa fa-envelope"></i></a></p><span></span></label> -->

  <!-- Home -->
  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><i class="fa fa-home"> </i></p><span>Home</span></label> -->

    <!-- <li><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-github"></i></a></li> -->
    <!-- <li><a href="https://www.linkedin.com/in/lucasporterbakker" target ="_blank"><i class="fa fa-linkedin"></i></a></li> -->
    <!-- <li><a href="portfolio.html"><i class="fa fa-wechat"></i></a></li> -->
    <!-- <li><a href="contact.html"><i class="fa fa-instagram"></i></a></li> -->
    <!-- <li><a href="https://angel.co/lucasporterbakker" target ="_blank"><i class="fa fa-angellist"></i></a></li> -->
    <!-- <li><a href="contact.html"><i class="fa fa-twitter"></i></a></li> -->
    <!-- <li><a href="mailto:www.lucas.porter.bakker@gmail.com"><i class="fa fa-envelope"></i></a></li> -->

  <!-- <div class="clear"></div> -->

<!-- </nav> -->

<!-- <div class="footer-navigation">
  <a href="professional.html"> <i class="fa fa-briefcase"> </i> | </a>
  <a href="education.html"> <i class="fa fa-graduation-cap"> </i> | </a>
  <a href="portfolio.html"> <i class="fa fa-folder-open"> </i> | </a>
  <a href="contact.html"> <i class="fa fa-envelope"> </i> | </a>
	<a href="index.html"><i class="fa fa-home"> </i> </a>
</div> -->
