---
title: Experience | Lucas Porter-Bakker
---

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<nav class="slidemenu">

  <!-- About -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="about.html"><i class="fas fa-id-card"></i></p><span>About</span></label></a>

  <!-- Education -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" />
  <label for="slide-item-3"><p class="icon"><a href="education.html"><i class="fa fa-graduation-cap"></i></p><span>Education</span></label></a>

  <!-- Experience -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" checked />
  <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-briefcase"></i></p><span>Experience</span></label></a>

  <!-- Portfolio -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" />
  <label for="slide-item-3"><p class="icon"><a href="portfolio.html"><i class="fa fa-folder-open"></i></p><span>Portfolio</span></label></a>


  <div class="clear"></div>

  <!-- Bar -->
  <div class="slider">
    <div class="bar"></div>
  </div>

</nav>

<section id=timeline>
	<h1>Experience</h1>
	<p class="leader"></p>
	<div class="demo-card-wrapper">

    <div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>SAASport</span>
				</div>
				<h2><span class="small"></span>'18</h2>
			</div>
			<div class="body">
				<a href="https://angel.co/saasport" target ="_blank"><img src="https://res.cloudinary.com/donw16xff/image/upload/c_scale,w_800/v1537203298/Screen_Shot_2018-09-18_at_12.54.30_AM.png" alt="Graphic"></a>
				<p>FOUNDER and CEO • SAASport is the first toolkit for SaaS in China. With one line of code, SAASport adapts your SaaS model to the Chinese market, transforming WeChat and Alipay's one-time charge logic into automated payments; by functioning as a payment interface built on top of Stripe. <a href="https://angel.co/saasport" target ="_blank"> | Read more.</a></p>
			</div>
		</div>

    <div class="demo-card demo-card--step2">
      <div class="head">
        <div class="number-box">
          <span>SignHow</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="body">
        <a href="https://www.signhow.co" target ="_blank"><img src="http://res.cloudinary.com/donw16xff/image/upload/v1534319246/SIGNHOW.png" alt="Graphic"></a>
        <p>CTO • SignHow is the first global sign language dictionary created by the community for the community. The platform, supporting 300+ global sign languages, was built to empower deaf communities around the world with access to free education.</p>
      </div>
    </div>

    <div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>GOJI</span>
				</div>
				<h2><span class="small"></span>'16-'18</h2>
			</div>
			<div class="body">
				<a href="goji.html"><img src="https://res.cloudinary.com/donw16xff/image/upload/v1534170057/Artboard.png" alt="Graphic"></a>
				<p>FOUNDER and CTO // CEO • GOJI connects ESL students all over the world to native English-speaking tutors. The online EdTech platform currently has more than 50,000 students and tutors on iOS and Android from over 150 countries. <a href="goji.html"> | Read more.</a></p>
			</div>
		</div>

    <div class="demo-card demo-card--step4">
      <div class="head">
        <div class="number-box">
          <span>Le Wagon x naked Hub</span>
        </div>
        <h2><span class="small"></span>'18</h2>
      </div>
      <div class="body">
        <a href="https://www.signhow.co" target ="_blank"><img src="http://res.cloudinary.com/donw16xff/image/upload/c_scale,h_812,w_1634/v1532306752/Screen_Shot_2018-07-23_at_8.44.11_AM.png" alt="Graphic"></a>
        <p>TECH | BUSINESS AMBASSADOR • Four ambassadors were selected to spearhead a six-month initiative to bring the business and tech communities of China closer together; including leading workshops in fullstack web development, UI/UX design, startup tech tools, and WeChat mini-programs.
      </div>
    </div>

    <div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>Westgroup | 西思路</span>
					<br>
				</div>
				<h2><span class="small"></span>'14-'18</h2>
			</div>
			<div class="body">
				<a href="westgroup.html"><img src="https://res.cloudinary.com/donw16xff/image/upload/v1534318554/WESTGROUP.png" alt="Graphic"></a>
				<p>FOUNDER and CEO • Westgroup is the foremost Canadian education company in Zhejiang Province - having taught thousands of students; and clients including: Fortune 100 companies, nonprofits, and univerisites; and collaborated on numerous projects with the Chinese government. <a href="westgroup.html"> | Read more.</a></p>
      </div>
		</div>

    <div class="demo-card demo-card--step6">
      <div class="head">
        <div class="number-box">
          <span>Photographer</span>
        </div>
        <h2><span class="small"></span>'07-'18</h2>
      </div>
      <div class="body">
        <a href="https://www.lucasporterbakker.me" target ="_blank"><img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525541663/Screen_Shot_2018-05-06_at_1.33.35_AM.png" alt="Graphic"></a>
        <p>AWARD-WINNING PHOTOGRAPHER • Freelance projects in over 50 countries since 2007; regions include: North Africa, The Balkans, Asia-Pacific, Southern Asia, South-Eastern Asia, North America, Eastern & Western Europe, and Latin America.</p>
      </div>
    </div>

		<div class="demo-card demo-card--step7">
			<div class="head">
				<div class="number-box">
					<span>Ideagate Investments</span>
				</div>
				<h2><span class="small"></span>'13-'18</h2>
			</div>
			<div class="body">
				<!-- <a href="ideagate.html"></a> -->
          <img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525540012/Screen_Shot_2018-05-06_at_1.00.41_AM.png" alt="Graphic">
				<p>CHAIRMAN and BOARD MEMBER • Ideagate is an investment group based in Hong Kong. As the company's director since 2013, I oversaw the establishment and development of Ideagate's subsidiary network in Mainland China.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step8">
			<div class="head">
				<div class="number-box">
					<span>I.A.T.S.E.</span>
				</div>
				<h2><span class="small"></span>'12-'18</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525586734/Screen_Shot_2018-05-06_at_2.05.07_PM.png" alt="Graphic">
				<p>UNION MEMBER • Established in 1893, the North American Film Union, I.A.T.S.E., has evolved to embrace the development of technological innovation and geographic growth, and currently represents 120,000+ employees in North America.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step9">
			<div class="head">
				<div class="number-box">
					<span>Communidad de Madrid</span>
				</div>
				<h2><span class="small"></span>'12</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525587298/COMMUNIDAD_DE_MADRID.png" alt="Graphic">
				<p>CONSULTANT • Educational posting with the Spanish Ministry of Education, designing curriculum for use by the government of Madrid; followed by a school placement, teaching science, physical education, and foreign languages.</p>
			</div>
		</div>

		<div class="demo-card demo-card--step10">
			<div class="head">
				<div class="number-box">
					<span>JECIE</span>
				</div>
				<h2><span class="small"></span>'07-'08</h2>
			</div>
			<div class="body">
				<img src="http://res.cloudinary.com/donw16xff/image/upload/c_fill,h_500,w_1000/v1525587298/JESIE.png" alt="Graphic">
				<p>CURRICULUM DESIGNER • Developed several educational projects with the Jiangsu Department of Education and International Centre for exchange - a non-profit organization working with schools in rural China.</p>
			</div>
		</div>

	</div>
</section>

<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="education.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="home.html"><i class="fa fa-home"></i></a></p><span></span></label>
  <label for="slide-item-3"><p class="icon"><a href="portfolio.html"><i class="fa fa-arrow-right"></i></a></p><span></span></label>

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/> -->
  <!-- <label for="slide-item-3"><p class="icon"><a href="https://westgrouphangzhou.com/" target ="_blank"><i class="fa fa-laptop"></i></a></p><span></span></label> -->


  <div class="clear"></div>

</nav>

<!-- <nav class="footer-slidemenu"> -->

  <!-- Contact -->
  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-github"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-wechat"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-instagram"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://www.linkedin.com/in/lucasporterbakker" target ="_blank"><i class="fa fa-linkedin"></i></a></p><span></span></label> -->

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/> -->
  <!-- <label for="slide-item-3"><p class="icon"><i class="fa fa-twitter"></i></p><span></span></label> -->

  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://angel.co/lucasporterbakker" target ="_blank"><i class="fa fa-angellist"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="mailto:www.lucas.porter.bakker@gmail.com" target ="_blank"><i class="fa fa-envelope"></i></a></p><span></span></label> -->

  <!-- Home -->
  <!-- <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><i class="fa fa-home"> </i></p><span>Home</span></label> -->

    <!-- <li><a href="https://github.com/lucasporterbakker" target ="_blank"><i class="fa fa-github"></i></a></li> -->
    <!-- <li><a href="https://www.linkedin.com/in/lucasporterbakker" target ="_blank"><i class="fa fa-linkedin"></i></a></li> -->
    <!-- <li><a href="portfolio.html"><i class="fa fa-wechat"></i></a></li> -->
    <!-- <li><a href="contact.html"><i class="fa fa-instagram"></i></a></li> -->
    <!-- <li><a href="https://angel.co/lucasporterbakker" target ="_blank"><i class="fa fa-angellist"></i></a></li> -->
    <!-- <li><a href="contact.html"><i class="fa fa-twitter"></i></a></li> -->
    <!-- <li><a href="mailto:www.lucas.porter.bakker@gmail.com"><i class="fa fa-envelope"></i></a></li> -->

  <!-- <div class="clear"></div> -->

<!-- </nav> -->

<!-- <div class="footer-navigation">
  <a href="professional.html"> <i class="fa fa-briefcase"> </i> | </a>
  <a href="education.html"> <i class="fa fa-graduation-cap"> </i> | </a>
  <a href="portfolio.html"> <i class="fa fa-folder-open"> </i> | </a>
  <a href="contact.html"> <i class="fa fa-envelope"> </i> | </a>
	<a href="index.html"><i class="fa fa-home"> </i> </a>
</div> -->
