---
title: WESTGROUP | Lucas Porter-Bakker
---


<section id=portfolio-timeline>
	<h1>Westgroup</h1>
	<p class="portfolio-leader">Founder and CEO</p>

  <div class="westgroup-blurb">

  <more-h6>
  I founded Westgroup | 西思路 along with six co-founders; which we established as a wholly foreign-owned enterprise (WFOE) in Hangzhou, China.
  During my time as the CEO, Westgroup went from being newly licensed to the foremost Canadian education company in Zhejiang Province - having taught thousands of students - and expanded operations into marketing, training, and technology.
</more-h6>

  <more-h6>
  Westgroup has worked with Chinese governmental organizations, state-owned enterprises, both Canadian and Chinese companies and businesses, universities, and manages a portfolio of private clients; including Fortune 100 companies, small organizations, and nonprofits.
  We also collaborated on numerous G20 projects with the Chinese government and won the national public bid for Xiaoshan International Airport.
</more-h6>

  <!-- <h5>• Creative Director at Native Network</h5>
  <h5>• Director of Studies at Bookhouse</h5> -->

  </div>

</section>

<section id=westgroup-cards>
	<div class="westgroup-wrapper">

		<div class="flex">
			<div class="card">
				<div class="header">
					<div class="title">
						<div>
							<h1>"Focus on Westgroup: 'Western Values, Eastern Promise,' G20 Special Edition"</h1>
							<h6><span>by</span> Kay, David W. "Western Values, Eastern Promise," That's China, (2016).</h6>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="articlemeta">
						<ul class="left">
							<li><i class="material-icons">&#xE15E;</i></li>
							<li><i class="material-icons">&#xE87D;</i></li>
						</ul>
						<ul class="right">
							<li><i class="material-icons">&#xE80D;</i></li>
						</ul>
					</div>
					<div class="closebar">
						<h1>That's China</h1>
						<a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
					</div>
					<p>Feature on Westgroup in the September 2016 special issue of That's China; talking about our origins, the team, and some of our latest projects.</p>
					<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526794664/Screen_Shot_2018-05-20_at_1.35.49_PM.png">
					<p>
						<br>
						[...] Impressively, since their establishment a couple of short years ago, Westgroup has gone from being a newly licensed entity to having taught thousands of students; making them the largest privately-held Canadian [...]
						<br>
					</p>
					<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526801283/IMG_0407.png">
					<br>
					<br>
					<a href="http://tinyurl.com/thats-china-westgroup"  target ="_blank" class="bttn">Read Full Article</a>
					<a href="#0" class="readmore"></a>
				</div>
			</div>
		</div>

		<div class="flex">
			<div class="card">
				<div class="header">
					<div class="title">
						<div>
							<h1>Canadian Entrepreneurs in China and the G20 Preparations in Hangzhou.</h1>
							<h6><span>by</span> Xue, Yong Le. "Westgroup," International Business, Shanghai, (2016).</h6>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="articlemeta">
						<ul class="left">
							<li><i class="material-icons">&#xE15E;</i></li>
							<li><i class="material-icons">&#xE87D;</i></li>
						</ul>
						<ul class="right">
							<li><i class="material-icons">&#xE80D;</i></li>
						</ul>
					</div>
					<div class="closebar">
						<h1>Surging News</h1>
						<a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
					</div>
					<p>"Feature on Westgroup, Justin Trudeau, and the Canadian Chamber of Commerce; on Canadian Business in China."</p>
					<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526802750/Screen_Shot_2018-05-20_at_3.52.09_PM.png">
					<p>
						<br>
						During the interview, several representatives of the Shanghai Chamber of Commerce in Canada have repeatedly referred to a Canadian company involved in the G20 preparatory work. More specifically, Westgroup, is a company created by eight young Canadians in Hangzhou. Its executive president, Lucas Porter-Bakker, told the surging news that over the past six months, the company has been working closely with government agencies such as Hangzhou Municipal Government, and Hangzhou Tourism Bureau, among others, engaging in foreign language and cultural training to prepare for the upcoming G20 summit.
						<br>
						Xue, Yong Le. G20专访｜上海加拿大商会会长：峰会或能助推中加FTA, Surging News: International Business, Shanghai, 2016; Edited by Li Yiqing.
						<br>
					</p>
					<!-- <img src="http://res.cloudinary.com/donw16xff/image/upload/v1526801283/IMG_0407.png"> -->
					<br>
					<a href="http://tinyurl.com/thats-china-westgroup"  target ="_blank" class="bttn">Read Full Article</a>
					<a href="#0" class="readmore"></a>
				</div>
			</div>
		</div>

		<div class="flex">
			<div class="card">
				<div class="header">
					<div class="title">
						<div>
							<h1>"Westgroup Enters Hangzhou Hall of Fame: Red Carpet Ceremony at Wulin Square."</h1>
							<h6><span>by</span> Reuters China (Hangzhou), November, (2016).</h6>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="articlemeta">
						<ul class="left">
							<li><i class="material-icons">&#xE15E;</i></li>
							<li><i class="material-icons">&#xE87D;</i></li>
						</ul>
						<ul class="right">
							<li><i class="material-icons">&#xE80D;</i></li>
						</ul>
					</div>
					<div class="closebar">
						<h1>Reuters China</h1>
						<a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
					</div>
					<p>
						This past Thanksgiving, Westgroup | 西思路 received a warm thank you from the city of Hangzhou; for our role as a local foreign business leader and
						<br>
					</p>
					<p>

						<img src="http://res.cloudinary.com/donw16xff/image/upload/g_face/v1526801254/WechatIMG4.jpg">
						<br>
						<br>
						contributor to the city in the fields of culture, training, marketing, and education.
					</p>
					<p>
						<br>
						11月24日周四晚，于国际大厦巨幅屏幕前聚集了上千人观摩了杭州武林广场的红毯仪式-为2016年度名人堂嘉宾举行屏幕亮灯。此次受邀的嘉宾包括在商业和医药界的创新领军人物，关注城市健康发展的本地群众，以及西思路CEO - 作为唯一一家外企的代表出席。
						<br>
						<br>
					</p>
					<a href="https://www.westgrouphangzhou.com/blog/"  target ="_blank" class="bttn">Read Full Article</a>
					<a href="#0" class="readmore"></a>
				</div>
			</div>
		</div>

		<div class="flex">
			<div class="card">
				<div class="header">
					<div class="title">
						<div>
							<h1>Westgroup in China by the Beijing Commercial Press.</h1>
							<h6><span>by</span> Cotrell, Chris. Hangzhou at a Glance: Entrepreneurs, Commercial Press, (2016).</h6>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="articlemeta">
						<ul class="left">
							<li><i class="material-icons">&#xE15E;</i></li>
							<li><i class="material-icons">&#xE87D;</i></li>
						</ul>
						<ul class="right">
							<li><i class="material-icons">&#xE80D;</i></li>
						</ul>
					</div>
					<div class="closebar">
						<h1>Beijing Commercial Press</h1>
						<a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
					</div>
					<p>Feature on Westgroup in the September 2016 special issue of That's China; talking about our origins, the team, and some of our latest projects.</p>
					<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526801268/Screen_Shot_2018-05-04_at_2.22.49_PM.png">
					<p>
						<br>
						[...] Impressively, since their establishment a couple of short years ago, Westgroup has gone from being a newly licensed entity to having taught thousands of students; making them the largest privately-held Canadian [...]
						<br>
					</p>
						<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526801283/Screen_Shot_2018-05-04_at_2.22.42_PM.png">
					<a href="http://tinyurl.com/thats-china-westgroup"  target ="_blank" class="bttn">Read Full Article</a>
					<a href="#0" class="readmore"></a>
				</div>
			</div>
		</div>

		<div class="flex">
			<div class="card">
				<div class="header">
					<div class="title">
						<div>
							<h1>Westgroup wins National Public Bid for Xiaoshan Airport.</h1>
							<h6><span>by</span> Cotrell, Chris. Hangzhou at a Glance: Entrepreneurs, Commercial Press, (2016).</h6>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="articlemeta">
						<ul class="left">
							<li><i class="material-icons">&#xE15E;</i></li>
							<li><i class="material-icons">&#xE87D;</i></li>
						</ul>
						<ul class="right">
							<li><i class="material-icons">&#xE80D;</i></li>
						</ul>
					</div>
					<div class="closebar">
						<h1>Beijing Commercial Press</h1>
						<a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
					</div>
					<p>Feature on Westgroup in the September 2016 special issue of That's China; talking about our origins, the team, and some of our latest projects.</p>
					<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526814671/Screen_Shot_2018-05-20_at_7.10.24_PM.png">
					<p>
						<br>
						[...] Impressively, since their establishment a couple of short years ago, Westgroup has gone from being a newly licensed entity to having taught thousands of students; making them the largest privately-held Canadian [...]
						<br>
					</p>
						<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526814617/Screen_Shot_2018-05-20_at_7.08.38_PM.png">
					<a href="http://tinyurl.com/thats-china-westgroup"  target ="_blank" class="bttn">Read Full Article</a>
					<a href="#0" class="readmore"></a>
				</div>
			</div>
		</div>

		<div class="flex">
			<div class="card">
				<div class="header">
					<div class="title">
						<div>
							<h1>Westgroup: from Foreign Affairs to Starbucks.</h1>
							<h6><span>by</span> Cotrell, Chris. Hangzhou at a Glance: Entrepreneurs, Commercial Press, (2016).</h6>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="articlemeta">
						<ul class="left">
							<li><i class="material-icons">&#xE15E;</i></li>
							<li><i class="material-icons">&#xE87D;</i></li>
						</ul>
						<ul class="right">
							<li><i class="material-icons">&#xE80D;</i></li>
						</ul>
					</div>
					<div class="closebar">
						<h1>Beijing Commercial Press</h1>
						<a href="#0" class="closebttn"><i class="material-icons">&#xE5CD;</i></a>
					</div>
					<p>Westgroup wins National Public Bid for Xiaoshan Airport.</p>
					<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526814631/Screen_Shot_2018-05-20_at_7.08.49_PM.png">
					<p>
						<br>
						[...] Impressively, since their establishment a couple of short years ago, Westgroup has gone from being a newly licensed entity to having taught thousands of students; making them the largest privately-held Canadian [...]
						<br>
					</p>
						<img src="http://res.cloudinary.com/donw16xff/image/upload/v1526814617/Screen_Shot_2018-05-20_at_7.08.38_PM.png">
					<a href="http://tinyurl.com/thats-china-westgroup"  target ="_blank" class="bttn">Read Full Article</a>
					<a href="#0" class="readmore"></a>
				</div>
			</div>
		</div>

	</div>
</section>

<script type="text/javascript">

$('.readmore').click(function() {
  $('.content').toggleClass('full');
  $('.header').toggleClass('collapse');
  $('.readmore').toggle();
});
$('.closebttn').click(function() {
  $('.content').removeClass('full');
  $('.header').removeClass('collapse');
  $('.readmore').toggle();
});

</script>

<nav class="footer-slidemenu">

  <!-- Back Button -->
  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="professional.html"><i class="fa fa-arrow-left"></i></a></p><span></span></label>

  <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle"/>
  <label for="slide-item-3"><p class="icon"><a href="https://westgrouphangzhou.com/" target ="_blank"><i class="fa fa-globe"></i></a></p><span></span></label>


  <div class="clear"></div>

</nav>
